.Navbar.Brand{
  width: 100%;
  padding: 20px;
}

.images12{
  width:16%;
  height: 16%;
}

#dates1{
  width: 80%;
  height: 10px;
 margin: -20px auto;
 margin-left: 12px;
 font-size: 180px;
 font-weight: 700;
 color: #17212b;
 text-shadow: 1px 1px 1px #163d45,
        1px 2px 1px #4c5417,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #1c3e3d,
        1px 6px 1px #307994,
        1px 7px 1px #919191,
        1px 8px 1px #1e0404,
        1px 9px 1px #919191,
        1px 10px 1px #a6ffd7,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
 font: 48px/1 'Erica One';
 text-align: center;
 letter-spacing: 5px;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 6px 20px 10px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 100px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .btr{
    background-color: #7b89aa;
    height:95px;
    width:auto;
 }

 .form-group{
   align-items:center;
 }